  .mypadding-b {
    padding-bottom: 100px;
  }
  .mypadding-t {
    padding-top: 100px;
  }
  .btn-xl {
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
  }
  
  .bg-black {
    background-color: #000 !important;
  }
  
  .rounded-pill {
    border-radius: 5rem;
  }
  
  .navbar-custom {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .navbar-custom .navbar-brand {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
  }
  
  .navbar-custom .navbar-nav .nav-item .nav-link {
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
  }

  .masthead {
    width: 100%;
    height: 70vh;
    background:#2A9A41;

  }

  
  header.masthead .masthead-content .masthead-heading {
    font-size: 4rem;
  }
  
  header.masthead .masthead-content .masthead-subheading {
    font-size: 2rem;
  }

  .simplon{
    
    width: 240px;
    padding-top: 30px;
    
  }



/* mes creations */
.img-creation{
  transition: 0.5s linear;
}
.img-creation:hover{
  transform: scale(1.2);
}
/* mes creations */

/* section about */
.html-logo{
  width: 85%;
}
/* section about */

/* footer */
.mail-link{
  transition: 0.3s linear;
}
.mail-link:hover {
  text-decoration: none;
  color: #ffffff !important;
}
